@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    /*   color variables */
    --clr-primary: #f0f7f8;
    --clr-primary-hover: #f0f7f8;
    --clr-primary-dark: #f0f7f8;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 2rem;
  } */
  
  .nav-list {
    background: #00BFFF;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }

  section{
    padding-bottom: 4rem;
  }

  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .intro{
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .intro-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
  }
  .welcome-text{
    font-family: 'Montserrat', sans-serif;
  }
  section span{
    color: #00BFFF;
  }

img{
    width: 350px;
  }
.project-text{
    position: absolute;
    left: 75%;
    top:0;
}
.image-div{
    position: relative;
}
.my-proeject-btn {
    background-color: #00BFFF; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.a-button{
    color: #cfd8dc;
    text-decoration: none;
}
.project-mini-text{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

hr{
    width: 85px;
    background-color: lightslategray;
}
.tech-heading{
  font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}
.tech-icons{
    color: #00BFFF;
} 
  .container {
    width: 90%;
    margin: 0px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 30%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    /* padding: 50px 10px; */
    background: linear-gradient(to right, #00BFFF, #00BFFF);
    color: #fff;
    font-family: 'Roboto', sans-serif;

  }

  .card-header img{
    height: 50%;
  }
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    /* font-family: 'Roboto', sans-serif; */
  }

  .project-name{
    display: flex;
    justify-content: space-around;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
  
  